body {
    padding-bottom: 3rem;
    background-color: #0E1821;
}

.us1 {
    width: 80vw;
    border-radius: 100%;  
    align-self: center;  
}

.us-box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin-top: 5vh;
  
}
.us-box > p {
    margin-top: 4vh;
}

.us-text {
    font-size: 5vw;
    text-align: center;
}

.about {
    display: none;
}

.us-box1 {
    margin-top: 5vh;
    font-size: 5vw;
}

@media (max-width: 600px) {
    .bianco {
        font-size: 3vw;
    }

    .us {
        display: none;
    }

    .about-us {
        display: none;
    }

    .about {
        display: inline;
    }
}

footer {
    display: flex;
    justify-content: center;
}

.credit {
    text-align: center;
}

footer > div > p > a {
    text-decoration: none;
    color: bisque;
}