body {
    padding-bottom: 3rem;
    background-color: #0E1821;
}

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
 }

.us {
    width: 10vw;
    border-radius: 100%;
}

.card-title {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.about {
    display: none;
}

@media (max-width: 600px) {
    .bianco {
        font-size: 3vw;
    }

    .us {
        display: none;
    }

    .about-us {
        display: none;
    }

    .about {
        display: inline;
    }
}

footer {
    display: flex;
    justify-content: center;
}

.credit {
    text-align: center;
}

footer > div > p > a {
    text-decoration: none;
    color: bisque;
}
  