/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  background-color: #0E1821;
}

.us {
    width: 10vw;
    border-radius: 100%;
}

.fun-outer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 10vh 3vw;
    height: 95vh;
}

.fun-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    text-align: center;
}

.fun-text-top > h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3vw;
}

.fun-text-bottom > h1 {
    font-family: 'Playfair Display', serif;
    color: khaki;
    font-size: 3vw;
}

.arrow {
    align-self: flex-end;
    width: 3vw;
    margin-top: 8vh;
    margin-right: 8vw;
}

.fun {
    width: 45vw;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: .5rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 55vw;
}
@media (max-width: 1080px) {
    .carousel-item {
        height: 60vw;
    }
}
@media (max-width: 840px) {
    .carousel-item {
        height: 65vw;
    }
}
@media (max-width: 600px) {
    .carousel-item {
        height: 70vw;
    }
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  background-color: white;
}

.carousel-caption > img {
    width: 90%;
}

.carousel-indicators {
    background-color: rgb(104, 102, 102);
    z-index: 100;
}

.carousel-control-prev {
/* background-color: cyan; */
width: 10vw;
margin-left: 6vw;

}

.carousel-control-next {
/* background-color: cyan; */
width: 10vw;
margin-right: 6vw;
}

.carousel-caption {
    background-color: rgb(104, 102, 102);
}
.carousel {
    background-color: rgb(104, 102, 102);
}

